* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --swuth-bg-url: url(/assets/handle.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.1);
  --swuth-bg-url: url(/assets/sun.svg);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: inter, sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  height: 712px;
  margin: auto;
  margin: 56px auto 0px;
  text-align: center;
  padding: 0 24px;
}

#container ul {
  display: flex;
  font-weight: bold;
  margin-top: 20px;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

#container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 16px 24px;
  text-decoration: none;

  background: var(--surface-color);

  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.2s;
}

#container ul li a:hover {
  background: var(--surface-color-hover);
  /*border: 1.5px solid #ffff;*/
}

#profile {
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;

  margin-top: 8px;
}

#swith {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#swith button {
  width: 32px;
  height: 32px;
  background: white var(--swuth-bg-url) center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;

  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

.light #swith button {
  right: 0;
  left: initial;
}

#swith span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
  gap: 30px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--text-color);

  transition: 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 5px;
}

footer p {
  font-size: 14px;
  padding: 24px 0;
}
